@model Xm.Trial.Models.Data.ContactUsForm

<div class="container-fluid">
    <h2>Message sent</h2>
    <strong class="greenText">Hey @Model.Name, your message was sent!</strong>
    <br />
    <strong class="greenText">Thank you for helping us!</strong>
    <br /><br />
    <a class="btn btn-default btnLeft" href="../">Home</a>
    <a class="btn btn-default btnRight" href="/ContactUs/Index">Send one more message!</a>
</div>
