@model Xm.Trial.Models.ContactUsViewModel

<div class="container-fluid">
    <h2>Message sent</h2>
    <strong class="green-text">Hey @Model.Name, your message was sent!</strong>
    <br />
    <strong class="green-text">Thank you for helping us!</strong>
    <br /><br />
    <a class="btn btn-default btn-left" href="../">Home</a>
    <a class="btn btn-default btn-right" href="/ContactUs/Index">Send one more message!</a>
</div>
