[data-action="like"]:before { display: inline-block; margin-right: 5px; content: 'Like'; }

body {
    font-family: Georgia, "Times New Roman", Times, serif;
    color: #555;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
    margin-top: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    color: #333;
}


.message {
    min-height: 150px;
    max-width: 100%;
}

.files {
    width: 100%;
}

.go-to{
    position: fixed;
    right: 3%;
    top: 3%;
}

td{
    text-align: center;
    vertical-align:middle;
    height: 50px;
}

.pop-up-table-header{
    text-align: left;
    padding-left: 25px;
    padding-right: 25px;
}

.table
{
    font-size: 17px;
    max-width:80%;
    width: 80%;
    margin-left:10%;
}

.min-column{
    width: 10%;
}

.files-label {
    font-weight: 500;
    font-size: 16px;
}

.container-fluid {
    width: 40%;
    min-width: 300px;
}

.green-text {
    color: green;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

.btn {
    min-width: 100px;
}

.moved {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #0067b8;
    position: absolute;
    top: 21px;
    left: calc(50% - 3px);
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.move-cont{
    padding:11px;
    position: relative;
    min-height: 50px;
    min-width: 150px;
    display:none;
    font-size: 16px;
}

.figure{
    width: 100%;
    text-align:center;
    min-height: 60px;
}

.pop-up-table {
    animation-name: pop-up-table;
    animation-duration: 0.25s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.blog-main {
    font-size: 18px;
    line-height: 1.5;
}

.blog-post {
    margin-bottom: 100px;
}

.blog-post-title {
    margin-bottom: 5px;
    font-size: 40px;
}

.blog-post-meta {
    color: #999;
}

.author{
    display: inline-block;
}

.post-image {
    width: 100%;
    margin-bottom: 15px;
    margin-top: 15px;
}

.like-btn {
    background-color: transparent;
    border: 1px solid blue;
    color: blue;
}

.like-btn:hover{
    opacity: 0.5;
}

@keyframes move {
    from {
        transform: rotateZ(0deg) translateX(15px);
    }
    to {
        transform: rotateZ(360deg) translateX(15px);
    }
}

@keyframes pop-up-table{
    from{
       transform:translateY(-25%);
       opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 970px;
    }
}