[data-action="like"]:before { display: inline-block; margin-right: 5px; content: 'Like'; }

.message {
    min-height: 150px;
    max-width: 100%;
}

.files {
    width: 100%;
}

.files-label {
    font-weight: 500;
    font-size: 16px;
}

.container-fluid {
    width: 40%;
    min-width: 300px;
}

.green-text {
    color: green;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

.btn {
    min-width: 100px;
}

.move{
    width:10px;
    height:10px;
    border-radius:5px;
    color: blue;
}

.figure{
    width: 100%;
    max-height: 50px;
    background-color: grey;
}