[data-action="like"]:before { display: inline-block; margin-right: 5px; content: 'Like'; }

.message {
    min-height: 150px;
    max-width: 100%;
}

.files {
    width: 100%;
}

.files-label {
    font-weight: 500;
    font-size: 16px;
}

.container-fluid {
    width: 40%;
    min-width: 300px;
}

.green-text {
    color: green;
}

.btn-left {
    float: left;
}

.btn-right {
    float: right;
}

.btn {
    min-width: 100px;
}

.moved {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #0067b8;
    position: absolute;
    top: 21px;
    left: calc(50% - 3px);
    animation-name: move;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

.move-cont{
    padding:11px;
    position: relative;
    min-height: 50px;
    min-width: 150px;
    display:none;
    font-size: 16px;
}

.figure{
    width: 100%;
    text-align:center;
    min-height: 50px;
}

@keyframes move {
    from {
        transform: rotateZ(0deg) translateX(15px);
    }
    to {
        transform: rotateZ(360deg) translateX(15px);
    }
}